/*
 * -------------------------------------------------
 * AdmixPainter! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bamlist = "./00.meta/bam.list"
    outdir = "./01.results/"
    chromosome_range_tsv = "./00.meta/chromos_range.list"
    help = ''
    popFile = "./00.meta/pop.list" //IMPORTANT: must be ordered the same as bamlist and hybrids population as "hybrid"
    identity = 0.95
    winFixedScript = "./bin/windows_fixed.r"
    ideogram = "./bin/plot_ideograms.r"
    BestLog = "./bin/best_log.r"
    writeCsv = "./bin/plot_windows_Fixed.r"
    //ANGSD PARAMETERS
    MAF = 0.1 
    minMapQ = 20
    minQ = 20
    setMinDepthInd = 1
    setMinDepth = 10
}


profiles {

    standard {
       /*
        * Still needs to be further developed
        */
        process.executor = 'local'
    }

    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profile/rackham.config'
    }

}
